<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Threshold from</th>
        <th scope="col">Threshold to</th>
        <th scope="col">Critieria</th>
        <th scope="col">Percentage</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of tableValuesArrayTop; let i = index">
      <tr #itemRow id="{{i+1}}">
        <td>{{item.product}}</td>
        <td>{{item.threshold_from}}</td>
        <td>{{item.threshold_to}}</td>
        <td>{{item.criteria}}</td>
        <td>{{item.percentage}}</td>
      </tr>
    </tbody>
        <tr [formGroup]="tableRowForm">
          <td>{{initValuesForRow.product}}</td>
          <td>{{this.tableRowForm.controls.threshold_from.value}}</td>
          <td><input 
            type='number'
            min=0
            id='threshold_to'
            formControlName='threshold_to'
            ></td>
          <td>{{tableRowForm.controls.criteria.value}}</td>
          <td><input 
            type='number'
            min='0'
            max='100'
            id='percentage'
            formControlName='percentage'
            ></td>
          <td>
            <button (click)="onConfirmAction()" type="button" [disabled]="tableRowForm.invalid" class="btn btn-primary confirm-button">apply</button>
          </td>
        </tr>
        <tbody *ngFor="let item of tableValuesArrayBottom; let i = index">
          <tr #itemRow id="{{index+1}}">
            <td>{{item.product}}</td>
            <td>{{item.threshold_from}}</td>
            <td>{{item.threshold_to}}</td>
            <td>{{item.criteria}}</td>
            <td>{{item.percentage}}</td>
          </tr>
        </tbody>
     
  </table>
  <div class="warning-message" *ngIf="isMaxPercentSet()">You're about to provide 100% to percentage input. Please verify</div>
